<div class="flex-container">
  <div class="side-bar">
    <div class="profile">
      <div class="avatar">
        <%= cl_image_tag "steve" %> <br>
      </div>
      <div class="name">
        <%= @user.name %> <br>
      </div>
      <div class="institution">
        <%= @user.institution %>
      </div>
    </div>
    <div class="bars">
      <ul style= "" class="nav" role="tablist">
        <li role="presentation" class="active"><a href="#translated" aria-controls="translated" role= "tab" data-toggle="tab">Translated</a></li>
        <li role="presentation" class=""><a href="#pending" aria-controls="pending" role= "tab" data-toggle="tab">Pending</a></li>
    </ul>

    </div>
  </div>

  <div class="page">
    <div class="tab-content">
    <% if @user.documents.empty? %>
      <h1>Please upload a document for translation</h1>
    <% end %>
    <% @documents.each_with_index do |document, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="Translated">
       <div class="lesson-name">
        Translated
        </div>
        <div class="doc-count">
         <p><%= @documents.count %></p>
       </div>
        <div class="doc-count">
        </div>
        <%= render 'documents'%>
     </div>
    <% end %>
  </div>
  </div>
</div>s

