<% documents = lesson.documents.reverse %>
<% documents.each do |t| %>
 <div class="assignment">
       <div class="doc-name">
      <%= link_to edit_document_path(t), id: "preview_#{t.id}", class: "preview_link" do %>
        <%= t.title %>
        <p>Added: <%= t.created_at.strftime("%d %b %y") %></p>
        <%= cl_image_tag t.pdf.file.public_id, format: :jpg, density: 300, class: 'files-image' %>
       </div>
      <% end %>
    <div class="status">
      <% if t.final_content? %>
      <div class="livetranslated">
        live<strong>translated</strong>
      </div>
      <% else %>
        <a type="button" class="btn btn-upload to-do" href=<%= edit_document_path(t) %> >live<strong>translate</strong></a>
      <% end %>
    </div>
 </div>
    <% end %>

