<h1>This is the section index</h1>
  <% @sections.each do |section| %>
  <%= section.original_content %>
  <p><strong>status</strong>: <%= section.status %></p>
  <p><strong>Assinged To: </strong> <%= section.student.first_name%> <%= section.student.last_name %> </p>
  <p><strong>Document: </strong> <%= @document.title %></p>
  <%= button_to "Edit", action: "edit" %>
<% end %>
