<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>livetranslate</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <h1>livetranslate.space</h1>
    <img src="https://assets3.bigthink.com/system/idea_thumbnails/65525/size_1024/space.jpg?1529433747">
    <img src="http://cdn.desktopwallpapers4.me/wallpapers/animals/1920x1200/4/30543-running-puppy-1920x1200-animal-wallpaper.jpg">
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
